* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  /* background-color: black; */
  background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-parede-de-tijolo-texturizado-preto_53876-63583.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  color: white;
  padding: 2rem;
}
